# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/

# Ruff / tooling
.ruff_cache/

# VS Code
.vscode/
*.log

# OS files
.DS_Store
Thumbs.db
